<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Books</title>
</head>
<body>
<div layout:fragment="content" class="text-center">
    <h1>Books</h1>

    <div th:if="${#lists.isEmpty(books)}">
        <p>No books found.</p>
    </div>

    <div th:if="${!#lists.isEmpty(books)}">
        <div th:each="book : ${books}" class="mb-4">
            <div>
                <strong th:text="${book.title}">Title</strong><br />
                <em th:text="${book.author}">Author</em><br />
                <span th:text="${book.price}">Price</span><br />
                <img th:src="${book.image}" width="100" /><br />
                <a th:href="@{'/purchase/' + ${book.id}}">Purchase</a>
                <hr />
            </div>
        </div>
    </div>
</div>
</body>
</html>
